<div class="wrapper">
    <div class="container">
      <div class="header">
        <h1 style="color: white">Company Signup</h1>
      </div>
      <div class="buttons">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-Mail">
                    <nz-input-group nzPrefixIcon="mail">
                        <input nz-input placeholder="E-Mail" formControlName="email" id="email"  class="input">
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="The input is not valid password">
                    <nz-input-group nzPrefixIcon="lock">
                        <input nz-input type="password" placeholder="Password" formControlName="password" id="password"  class="input">
                    </nz-input-group>
                    
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="The input is not valid password">
                    <nz-input-group nzPrefixIcon="lock">
                        <input nz-input type="password" placeholder="Confirm Password" formControlName="checkPassword" id="password"  class="input">
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Name">
                    <nz-input-group nzPrefixIcon="user">
                        <input nz-input  placeholder="Name" formControlName="name" id="name"  class="input">
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Address">
                    <nz-input-group nzPrefixIcon="environment">
                        <input nz-input  placeholder="Address" formControlName="address" id="address"  class="input">
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Phone">
                    <nz-input-group nzPrefixIcon="phone">
                        <input nz-input  placeholder="Phone Number" formControlName="phone" id="name"  class="input">
                    </nz-input-group>

                </nz-form-control>
            </nz-form-item>

            <button nz-button class="btn" [nzType]="'primary'">
                Register
            </button>
            <span style="color: white;"> Or </span><a routerLink="/login" style="font-size: 20px; color: #9B4DFF">Login Now!</a>
        </form>
      </div>
    </div>
  </div>
  
