<div class="wrapper">
    <div class="container">
        <div class="header">
            <h1 style="color: white">Post Review</h1>
          </div>
          <form nz-form [formGroup]="validateForm" (ngSubmit)="giveReview()">
            
              <div nz-col nzspan="24">
                  <nz-form-item>
                      <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input is Required!">
                          <textarea rows="5" nz-input placeholder="write a Review" formControlName="review"></textarea>
                      </nz-form-control>
                  </nz-form-item>
              </div>
      
              <div nz-row class="rating-container">
                <div nz-col nzspan="24">
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">
                            <nz-rate formControlName="rating"></nz-rate>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
      
              <button nz-button class="btn" [nzType]="'primary'">
              Post
              </button>
          </form>
    </div>
  </div>
  