<section class="wrapper">
    <div class="bg">
      <div *ngIf="bookedServices.length > 0; else noBookings" class="booking-grid">
        <div *ngFor="let booking of bookedServices" class="booking-card">
          <div>
            <h3 class="booking-service">{{ booking.serviceName }}</h3>
            <p class="booking-detail">
              Date: <span class="booking-highlight">{{ booking.bookDate | date: 'dd/MM/yyyy' }}</span>
            </p>
            <p class="booking-detail">
              Status: <span class="booking-highlight">{{ booking.reservationStatus }}</span>
            </p>
          </div>
          <div class="booking-action">
            <div *ngIf="booking.reviewStatus === 'FALSE'" >
                <button class="review-button" routerLink="/client/review/{{ booking.id }}">
                    Review
                  </button>
            </div>

            <button class="delete-button" (click)="deleteBooking(booking.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
      <!-- Message when no bookings are found -->
      <ng-template #noBookings>
        <div class="no-bookings-message">
          <h2>You don't have any bookings yet.</h2>
          <p>Explore our services and book one now!</p>
        </div>
      </ng-template>
    </div>
  </section>
  