<div class="bg">
  <section class="containers hero row">
    <div class="content">
      <div class="text-box">
        <h1>SkillSync</h1>
      </div>
      <p>Syncing clients with premium services efficiently.</p>
    </div>
    <div class="img">
      <img src="./images.jpg" alt="" />
    </div>
  </section>

  <section class="headings">
    <h3 data-text="Latest Services">Latest Services</h3>
  </section>

  <section class="slider-card">
    <div class="card" *ngFor="let ad of ads">
      <div class="card-content">
        <!-- <span class="category-value">category</span> -->
        <img [src]="updateImg(ad.returnedImg)" class="card-img" />
        <h1 class="card-title">
          <span style="cursor: pointer" [routerLink]="'/client/ad/' + ad.id">
            {{ ad.serviceName }}
          </span>
          <!-- <a href="view_page.php?pid=<?php echo $fetch_products['id'];?>">{{ ad.serviceName }}</a> -->
        </h1>

        <p class="card-title">Rs{{ ad.price }}.00</p>

        <div class="card-footer">
          <button
            nzSize="small"
            nz-button
            nzType="primary"
            routerLink="/client/ad/{{ ad.id }}"
            class="btn-card btn-success-card"
          >
            View
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
