.bg {
  background-color: #121212;
  color: #f8f8f8;
}

.ad-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 30px;
  min-height: 90vh;

  .top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    .ad-detail {
      width: 65%;
      margin-right: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      padding: 30px;
      background-color: #212121;
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
      }

      h2 {
        font-size: 24px;
        color: #00bcd4;
      }

      h5 {
        font-size: 16px;
        color: #f8f8f8;
      }
    }

    .book-service {
      margin-top: 1%;
      width: 30%;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      padding: 20px;
      background-color: #212121;
      border-radius: 20px;
      padding-bottom: 40px;
      height: 50%;

      h2 {
        font-size: 24px;
        color: #00bcd4;
        margin-bottom: 20px;
      }

      nz-form {
        .nz-form-control {
          width: 100%;

          nz-date-picker {
            width: 100%;
          }
        }

        .book-button {
          margin-top: 10px;
        }
      }
    }
  }

  .reviews-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 40px;
    padding: 0 20px;

    margin: 0 auto;

    .review-card {
      background-color: #2b2b2b;
      padding: 25px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 15px;
      transition: all 0.3s ease;
      overflow: hidden;

      &:hover {
        transform: translateY(-10px);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 25px;
      }

      .nz-card {
        background-color: transparent;
        border: none;
      }

      p {
        font-size: 16px;
        color: black;
        line-height: 1.6;

        strong {
          font-weight: bold;
          color: #76c7c0;
        }

        &.rating {
          display: flex;
          align-items: center;
          font-size: 18px;
          color: #f4f4f4;
        }

        .nz-rate {
          margin-left: 10px;
          color: #ffb74d;
        }
      }
    }
  }
}
