<div class="bg" *ngIf="ad">
  <div class="ad-details-container">
    <div class="top-section">
      <div class="ad-detail">
        <div>
          <span class="company-value">{{ ad.companyName }}</span>
        </div>
        <div>
          <h2 style="cursor: pointer; color: #00bcd4">{{ ad.serviceName }}</h2>

          <img class="profile" [src]="avatarUrl" alt="profile" />

          <div nz-col nzSpan="24">
            <h5 style="font-size: 20px">
              Price :<span style="color: red">
                Rs. <b>{{ ad.price }}</b></span
              >
            </h5>
            <h5>
              Description: <b>{{ ad.description }}</b
              ><br /><br />
            </h5>
          </div>
        </div>
      </div>

      <div class="book-service">
        <h2 style="text-align: center; font-weight: 800; color: wheat">
          Book Service
        </h2>
        <form nz-form [formGroup]="validateForm">
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="bookDate"
                  ><span style="color: white"
                    >Date of Booking</span
                  ></nz-form-label
                >
                <nz-form-control [nzSpan]="24">
                  <nz-date-picker
                    formControlName="bookDate"
                    name="bookDate"
                    id="bookDate"
                  ></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <button
            nz-button
            [nzType]="'primary'"
            [disabled]="validateForm.invalid"
            style="width: 100%; color: black; font-weight: 700"
            (click)="bookService()"
          >
            Book
          </button>
        </form>
      </div>
    </div>

    <h2 style="color: yellow; margin-top: 10px; font-size: 30px">Reviews</h2>

    <div class="reviews-section">
      <div *ngFor="let review of reviews">
        <div class="review-card">
          <span class="category-value">{{ review.clientName }}</span>
          <nz-card [nzBordered]="false" class="review-card-body">
            <p style="color: white">
              Review: <strong>{{ review.review }}</strong>
            </p>
            <p style="color: white">
              Rating:
              <strong
                ><nz-rate disabled [ngModel]="review.rating"></nz-rate
              ></strong>
            </p>
            <p style="color: white">
              Posted on:
              <strong>{{ review.reviewDate | date : "dd/MM/yyyy" }}</strong>
            </p>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
</div>
