
<div *ngIf="isClientLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #18253c;">
    <div>
      <h2 class="skillSync">SkillSync</h2>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Services</a>
      <a nz-button nzType="link" routerLink="/client/bookings" routerLinkActive="active">Bookings</a>
      <a nz-button nzType="link" (click)="logout()"  routerLinkActive="active">Logout</a>
    </div>
  </nz-header>
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidebar">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Services</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/bookings" routerLinkActive="active">Bookings</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()"  routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>

</div>

<div *ngIf="isCompanyLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #18253c;">
    <div>
      <h2 class="skillSync">SkillSync</h2>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/company/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/company/ad" routerLinkActive="active">Post Ad</a>
      <a nz-button nzType="link" routerLink="/company/ads" routerLinkActive="active">Ads</a>
      <a nz-button nzType="link" (click)="logout()"  routerLinkActive="active">Logout</a>
    </div>
  </nz-header>
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidebar">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/ad" routerLinkActive="active">Post Ad</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/ads" routerLinkActive="active">Ads</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()"  routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>

<router-outlet></router-outlet>

<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-left">
      <h2 class="skillSync">SkillSync</h2>
    </div>
    <div class="footer-middle">
      <p>&copy; 2025 SkillSync. All rights reserved.</p>
    </div>
    <div class="footer-right">
      <a href="https://www.linkedin.com" target="_blank">LinkedIn</a> |
      <a href="https://www.twitter.com" target="_blank">Twitter</a> |
      <a href="https://www.facebook.com" target="_blank">Facebook</a>
    </div>
  </div>
</footer>