.heading{
    font-weight: bolder;
    color:#003973;
}

.green-button {
    background-color: green;
    border-color: green;
    color: white;
  }
  
  .green-button:hover {
    background-color: darkgreen;
    border-color: darkgreen;
  }

  .bg {

    background-color: #121212;  
    height: 100%;

  }