<div class="login-wrapper">
  <div class="login-container">
    <div class="logo">⚙️</div>
    <h1 style="color: white;">Welcome to SkillSync</h1>
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              placeholder="E-Mail"
              formControlName="userName"
              id="email"
              class="input"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your password">
          <nz-input-group nzPrefixIcon="lock">
            <input
              nz-input
              type="password"
              placeholder="Password"
              formControlName="password"
              id="password"
              class="input"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button
        nz-button
        class="login-btn"
        [nzType]="'primary'"


      >
        Log In
      </button>
      <span style="color: white;"> Or </span><a routerLink="/register" style="font-size: 20px; color: #9B4DFF">Register Now!</a>
    </form>
  </div>
</div>
